PvZ_Fusion_Translator/
.idea/
.venv/
venv/
build/
dist/
*.egg-info/
__pycache__/
*.pyc

reports/
exports/
dist/
*.pyz
settings.json
.coverage
coverage/
coverage.xml
htmlcov/

node_modules/
npm-debug.log*
yarn-error.log*

release.md
*.tgz
